html, body{
  margin : 0 ; 
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  display: flex;

}

* {
  box-sizing: border-box;
}






#root {
   background-color: white;
  max-width: 600px;
  width: 100%;
  margin:0 auto;
  min-height: 100vh;  /*(현재 보이는 화면 세로 크기 중요 @@@@)*/
  height: 100%;
  box-shadow: rgba(100,100,100,0.2) 0px 0px 29px 0px; /* (박스 그림자 )*/
  padding: 0px 0px; /* ( 상하, 좌우 순서 px)*/
}