.Home {
  background-color: #E9F5EF;
  width: 100%;
  height: 100%;
}
.Home button {
  cursor: pointer;
}

.HomeMain {
  background-color: white;
 border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding : 30px 20px;
  padding-bottom : 200px;
}

.HomeHeader {
  padding : 30px 40px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.HomeHeader_date{
  font-size: 50px;
  font-weight: 800;
}

.HomeHeader_subDate {
  font-size: 13px;
  font-weight: 700;
  color: #00664F;
}

.HomHeader_subDate_bottom{
  display: flex;
  gap : 5px;
}
.HomHeader_radio{
 margin-left : auto;
 
}
.buttonGroup{
display: flex;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.monthButton,
.weekButton {
  font-size: 14px;
  font-weight: 600;
  border: none;
  padding: 5px 13px;
  background-color: white;
  margin: 0; /* 중요: 틈 없애기 */
}

.active {
  background-color: #00664F;
  color: white;
  border-radius: 20px;
}



.HomeMain_Quizbutton {
  margin-top: 50px;
  margin-bottom: 40px;
  width: 100%;
}
.HomeMain_Quizbutton button {
  background-color: white;
  border : 2px solid transparent;
 width: fit-content;
}

.HomeMain_Quizbutton img{
  width: 100%;
}

.HomeMain_RankButton {
  text-align: center;
}
.HomeMain_RankButton button {
  background-color: white;
  border : 2px solid transparent;
  width: fit-content;
}

.HomeMain_RankButton h3{
  margin-bottom: 5px;
}

.HomeMain_RankButton img{
  width: 100%;
}

